.article__title,
.section__title
{
    width: 100%;

    text-align: right;
}

.article__title
{
    position: relative;
    z-index: 2;
    @media (min-width: 769px)
    {
        width: auto;
        margin-left: round(300 / 1280 * 100) + vw;
    }
}

.section__title
{
    @media (min-width: 769px)
    {
        text-align: left;
    }
}

.self__introduction--image
{
    width: round(300 / 375 * 100) + vw;
    margin-top: -3vh;
    margin-right: auto;
    picture
    {
        position: relative;

        display: block;
        overflow: hidden;

        width: 100%;
        height: ceil(223 / 667 * 100) + vh;
        margin-top: -3vh;
        source,
        img
        {
            position: absolute;
            top: 50%;
            left: 50%;

            display: inline;

            width: auto;
            height: 100%;

            transform: translate(-50%, -50%);
        }
    }
    @media (min-width: 769px)
    {
        width: round(536 / 1280 * 100) + vw;
        margin-top: -4vh;
        margin-right: (24 / 1280 * 100) + vw;
        picture
        {
            height: ceil(331 / 768 * 100) + vh;
            margin-top: -4vh;
            source,
            img
            {
                width: 100%;
                height: auto;
            }
        }
    }
}

.self__introduction--text
{
    text-align: justify;
    @media (min-width: 769px)
    {
        width: round(376 / 1280 * 100) + vw;
    }
}

.self__introduction--name
{
    font-size: 1.5em;
    font-weight: 600;
    span
    {
        margin-left: .5em;
        a
        {
            font-size: .6em;

            color: $black60;
            &:visited
            {
                color: $black60;
            }
        }
    }
}
