*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root
{
    font-size: calc(1vw + 1vh + .5vmin);
}


body
{
    font: 1.1rem 'Noto Sans JP', sans-serif;
    font-weight: 300;
    line-height: calc(1em + 8px);

    letter-spacing: .05em;

    color: $black60;

    font-feature-settings: 'palt';
    @media (min-width: 769px)
    {
        font: .6rem 'Noto Sans JP', sans-serif;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
th
{
    font-size: inherit;
    font-weight: inherit;
    line-height: 1;

    margin: 0;
    padding: 0;
}

li
{
    list-style-type: none;
}

#aboutPage,
#blog
{
    border-top: 10px solid $purple;
}
