#blog
{
    background-color: $black10;
}

.cards
{
    &__content
    {
        border: 1px solid $black23;
        border-radius: 3px;
        background-color: #fff;
        &:not(:first-child)
        {
            margin-top: ceil(10 / 667 * 100) + vh;
        }
        @media (min-width: 769px)
        {
            width: 620px!important;
            margin: 0 auto;
        }
        &--info
        {
            padding: 15px 20px;
            @media (min-width: 769px)
            {
                padding: 20px;
            }
        }
        &--excerpt
        {
            line-height: calc(1em + 12px);

            padding: 0 20px 20px 20px;
             > * + *
            {
                margin-top: 1em;
            }
            @media (min-width: 769px)
            {
                font-size: 14px;
            }
        }
        &--date
        {
            a
            {
                font-size: .75rem;
                font-weight: 500;

                text-decoration: none;

                color: $black48;
                @media (min-width: 769px)
                {
                    font-size: 11px;
                }
            }
        }
        &--title
        {
            a
            {
                font-size: 1.8rem;
                font-weight: 500;
                line-height: calc(1em + 12px);

                text-decoration: none;

                color: $black60;
                @media (min-width: 769px)
                {
                    font-size: 20px;
                }
            }
        }
    }
}

.more
{
    a
    {
        font-size: 1rem;

        text-decoration: none;

        color: $purple;
        @media (min-width: 769px)
        {
            font-size: 12px;
        }
    }
}

.blogwrapper
{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;

    padding-bottom: 15px;

    background-color: #fff;
    @media (min-width: 769px)
    {
        padding-bottom: 36px;
    }
    &__inner
    {
        width: 90%;
        margin-top: 15px;
        @media (min-width: 769px)
        {
            width: 620px;
            margin-top: 36px;
        }
        &--date
        {
            font-size: .75rem;
            font-weight: 500;

            text-decoration: none;

            color: $black48;
            @media (min-width: 769px)
            {
                font-size: 12px;
            }
        }
        &--title
        {
            font-size: 1.9rem;
            font-weight: 500;
            line-height: calc(1em + 12px);

            text-decoration: none;

            color: $black60;
            @media (min-width: 769px)
            {
                font-size: 32px;
            }
        }
        &--content
        {
            margin-top: 30px;
             > *
            {
                font-size: 16px;
                line-height: 30px;

                text-align: justify;
                @media (min-width: 769px)
                {
                    font-size: 18px;
                    line-height: 36px;
                }
            }
             > * + *
            {
                margin-top: 30px;
                @media (min-width: 769px)
                {
                    margin-top: 36px;
                }
            }
            h2
            {
                font-size: 1.6rem;
                font-weight: 500;
                line-height: calc(1em + 12px);

                margin-top: 36px;
                 + *
                {
                    margin-top: 10px;
                    @media (min-width: 769px)
                    {
                        margin-top: 32px;
                    }
                }
                @media (min-width: 769px)
                {
                    font-size: 24px;

                    margin-top: 50px;
                }
            }
            img
            {
                width: 100%;
                 + *
                {
                    margin-top: 10px;
                    @media (min-width: 769px)
                    {
                        margin-top: 32px;
                    }
                }
            }
        }
    }
}
