.back__button
{
    position: relative;

    overflow: hidden;

    width: round(160 / 375 * 100) + vw;
    margin-top: round(48 / 667 * 100) + vh;

    border: 2px solid $purple;
    border-radius: 1000px;
    &:before
    {
        position: absolute;
        top: -100%;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';
        transition: .05s all ease-out;

        border-radius: 1000px;
        background-color: $purple;
    }
    a
    {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2;

        position: relative;
        z-index: 2;

        display: block;

        transition: .05s all ease-out;
        text-align: center;
        text-decoration: none;

        color: $purple;
        &:visited
        {
            color: $purple;
        }
    }
    &:hover
    {
        &:before
        {
            top: 0;
        }
        a
        {
            color: #fff;
            &:visited
            {
                color: #fff;
            }
        }
    }
    @media (min-width: 769px)
    {
        width: round(210 / 1280 * 100) + vw;
        a
        {
            font-size: .9rem;
        }
    }
}

.index__buttongroup
{
    margin-top: round(48 / 667 * 100) + vh;
    * + *
    {
        margin-top: round(24 / 667 * 100) + vh;
    }
}

.cover__ghostbutton
{
    width: round(160 / 375 * 100) + vw;

    border: 2px solid #fff;
    border-radius: 1000px;
    background-color: rgba(#fff, .2);
    a
    {
        font-size: 1.5rem;
        font-weight: 400;
        line-height: 2;

        display: block;

        text-align: center;
        text-decoration: none;

        color: #fff;
        &:visited
        {
            color: #fff;
        }
    }
    @media (min-width: 769px)
    {
        width: round(210 / 1280 * 100) + vw;
        a
        {
            font-size: .9rem;
        }
    }
}
