.cover
{
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    height: 100vh;

    background: linear-gradient(45deg, rgba($purple, .7) 30%, rgba(#a7ad00, .7) 70%), url(/image/cover-img-sp.png) center center /cover no-repeat fixed;

    background-blend-mode: screen;
    @media (min-width: 769px)
    {
        background: linear-gradient(45deg, rgba($purple, .7) 30%, rgba(#a7ad00, .7) 70%), url(/image/cover-img.png) center center /cover no-repeat fixed;
    }
    &.webp
    {
        background: linear-gradient(45deg, rgba($purple, .7) 30%, rgba(#a7ad00, .7) 70%), url(/image/optimg/cover-img-sp.webp) center center /cover no-repeat fixed;
        @media (min-width: 769px)
        {
            background: linear-gradient(45deg, rgba($purple, .7) 30%, rgba(#a7ad00, .7) 70%), url(/image/optimg/cover-img.webp) center center /cover no-repeat fixed;
        }
    }
}

.cover__logo
{
    width: round(85 / 375 * 100) + vw;
    img
    {
        width: 100%;
    }
    @media (min-width: 769px)
    {
        width: round(120 / 1280 * 100) + vw;
    }
}
