footer
{
    width: 100vw;
    margin-top: (48 / 667 * 100) + vh;
    padding: (24 / 667 * 100) + vh 0;

    background-color: $black10;
    p
    {
        font-size: .8em;
        font-weight: 400;

        text-align: center;
    }
}
