body
{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    width: 100vw;
}

.section__wrapper
{
     > *
    {
        margin-top: round(48 / 667 * 100) + vh;
    }
    @media (min-width: 769px)
    {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;

        width: round(960 / 1280 * 100) + vw;
         > *
        {
            &:first-child
            {
                flex: 2;
            }
        }
    }
}

section
{
    width: 100vw;
}

.section__inner
{
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;

    width: 90%;
    margin: 0 auto;
    h2 + *
    {
        margin-top: round(24 / 667 * 100) + vh;
    }
    p + p
    {
        margin-top: 1em;
    }
    @media (min-width: 769px)
    {
        width: 100%;
    }
}

.self__introduction
{
    .section__inner
    {
        @media (min-width: 769px)
        {
            align-items: flex-start;
            flex-flow: row wrap;
        }
    }
}

.tools__block--list
{
    ul
    {
        display: flex;
        align-items: flex-start;
        flex-flow: row wrap;
        justify-content: space-between;

        width: round(percentage(306 / 338));
        margin: 0 auto;
        li
        {
            display: flex;
            justify-content: center;
        }
    }
}
