.skills__block
{
    @media (min-width: 769px)
    {
        width: round(432 / 1280 * 100) + vw;
        margin-left: round(24 / 1280 * 100) + vw;
    }
}
.skills__block--table
{
    width: 100%;

    border-collapse: collapse;
    th,
    td
    {
        padding: round(10 / 667 * 100) + vh round(percentage(24 / 338));

        border: 1px solid $black60;
    }
    th
    {
        width: round(percentage(202.8 / 338));

        text-align: left;

        background-color: $black10;
    }
    td
    {
        text-align: center;
        letter-spacing: .3em;
    }
}
