.tools__block
{
    @media (min-width: 769px)
    {
        width: round(432 / 1280 * 100) + vw;
    }
}
.tools__block--list
{
    li
    {
        width: round(percentage(80 / 306));
        height: round(80 / 667 * 100) + vh;
        margin-top: 0;
        &:nth-child(n + 4)
        {
            margin-top: round(24 / 667 * 100) + vh;
        }
        img
        {
            width: 100%;
        }
    }
}
