.article__title,
.section__title
{
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;

    letter-spacing: .05em;

    color: $black35;
}
.skills__block--table
{
    th
    {
        font-family: 'Roboto', sans-serif;
    }
}

.section__title
{
    @media (min-width: 769px)
    {
        font-size: 2.5rem;
    }
}
