<%- partial('_partial/head') %>
  <div class="section__wrapper js-fadeup__item" style="opacity: 0">
    <section id="main"><%- body %></section>
    <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>
  </div>
  <script src="https://hi0711.design/assets/js/main-bundle.js"></script>
</body>
</html>
