<div class="cards__content--date">
  <a href="<%- url_for(post.path) %>">
    <time datetime="<%= date_xml(post.date) %>" itemprop="datePublished"><%= date(post.date, date_format) %></time>
  </a>
</div>
