<% if (post.link){ %>
  <h1 class="cards__content--title" itemprop="name">
    <a href="<%- url_for(post.path) %>" itemprop="url"><%= post.title %></a>
  </h1>
<% } else if (post.title){ %>
  <% if (index){ %>
    <h1 class="cards__content--title" itemprop="name">
      <a href="<%- url_for(post.path) %>" itemprop="url"><%= post.title %></a>
    </h1>
  <% } else { %>
    <h1 class="<%= class_name %>" itemprop="name">
      <%= post.title %>
    </h1>
  <% } %>
<% } %>
