meta(property="og:site_name", content="hi0711.design")
meta(property="og:title", content="interaction director | hi0711")
meta(property="og:description", content=`${ogDescription}`)
meta(property="og:type", content="website")
meta(property="og:url", content="https://hi0711.design")
meta(property="og:image", content="https://hi0711.design/image/og-image.png")
meta(name="twitter:card", content="summary_large_image")
meta(name="twitter:site", content="https://hi0711.design")
meta(name="twitter:image", content="https://hi0711.design/image/og-image.png")
