doctype html
html.no-js(lang="ja")
  block vars
  block header
    head
      meta(charset='utf-8')
      include _include/_tagmanager
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      title #{title}
      meta(name='description', content=`${description}`)
      meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
      include _include/_ogp
      link(rel='apple-touch-icon', href='/image/apple-touch-icon.png')
      link(rel='icon', href='/image/favicon.png')
      link(rel='icon', href='/image/favicon@2x.png')
      link(rel='icon', href='/image/favicon@3x.png')
      link(rel='icon', href='/image/favicon@4x.png')
      link(rel='icon', href='/image/favicon@5x.png')
  body(id=`${body}`)
    //- <!-- Google Tag Manager (noscript) -->
    noscript.
      <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJD9Z4F"
      height="0" width="0" style="display:none;visibility:hidden"></iframe>
    //- <!-- End Google Tag Manager (noscript) -->
    // Add your site or application content here
    block content
    //- キャッシュ避け関数
    - var dateNow = Date.now();
      script(src='/assets/js/main-bundle.js' + '?' + dateNow)
