extends ./_layout.pug
block vars
  - var title = 'ABOUT | hi0711'
  - var body = 'aboutPage'
  - var description = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
  - var ogDescription = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
block content
  .section__wrapper.js-fadeup__item(style="opacity: 0")
    section.self__introduction
      .section__inner
        h1.article__title ABOUT
        .self__introduction--image
          picture
            source(type='image/webp' srcset='/image/optimg/about__img.webp')
            img(src="/image/about__img.png" alt='サトウヒロシ')
        .self__introduction--text
          h2.self__introduction--name
            | サトウ ヒロシ
            span: a(href="https://www.facebook.com/hi0711") [Facebook]
            span: a(href="https://twitter.com/_hi0711") [Twitter]
          p
            | 1985年、宮城県仙台市生まれ。
            br
            | 幼少期は仙台で過ごし、大学進学と同時に上京。長い青春を謳歌。
            br
            | 卒業後は地元・仙台の地元広告代理店に勤務。営業が絶望的に肌に合わず、web制作会社へ未経験で転職。
            br
            | デザイン、マークアップなどを経験してwebディレクター、そしてプロジェクトマネージャーに。以後複数の制作会社と事業会社を経験する。
          p
            | 培った制作スキルを元に、2015年、hi0711として副業フリーランス活動開始。2017年からは北海道札幌市で活動中。
            br
            | 官公庁やナショナルクライアント、地元の商店など、企業規模の大小を問わずさまざまな経験を積んでいるのが強み。
          p
            | 2018年からはフリーランスのwebディレクター、UIデザイナーとして活動を始める。
    section.tools__block
      .section__inner
        h2.section__title TOOLS
        .tools__block--list
          ul
            li: img(src="/image/Sketch-color.svg" alt='')
            li: img(src="/image/Photoshop-color.svg" alt='')
            li: img(src="/image/Github-color.svg" alt='')
            li: img(src="/image/LogoMark.svg" alt='')
            li: img(src="/image/Vimlogo.svg" alt='')
            li: img(src="/image/Bitmap.svg" alt='')
            li: img(src="/image/Apple-color.svg" alt='')
            li: img(src="/image/Slack-color.svg" alt='')
            li: img(src="/image/drive-color.svg" alt='')
    section.skills__block
      .section__inner
        h2.section__title SKILLS
        table.skills__block--table
          tbody
            tr
              th Project Management
              td ★★★★★
            tr
              th User Interface Design
              td ★★★★☆
            tr
              th html5 / css3
              td ★★★★☆
            tr
              th Javascript / jQuery
              td ★★★☆☆
            tr
              th Wordpress
              td ★★☆☆☆
            tr
              th Adobe Photoshop
              td ★★★☆☆
            tr
              th Adobe Illustrator
              td ★★☆☆☆
            tr
              th Graphic Design
              td ★★☆☆☆
            tr
              th Illustration
              td ★☆☆☆☆
  .back__button(ontouchstart="")
    a(href="/") back
  footer
    p hi0711.design
