extends ./_layout.pug
block vars
  - var title = 'BLOG | hi0711'
  - var body = 'blog'
  - var description = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
  - var ogDescription = 'web制作の会社で学んだ制作スキルと、事業会社で学んだビジネススキルを武器に、web全般での最適な課題解決を提案します。'
block content
  .section__wrapper.js-fadeup__item(style="opacity: 0")
    section.cards
      - for (var i = 0; i < 6; i++)
          .cards__content
            .cards__content--info
                .cards__content--date: a(href="blog_detail.html") YYYY/MM/DD
                h1.cards__content--title: a(href="blog_detail.html") ブログのタイトル
            .cards__content--excerpt
              p
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              p
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
                br
                | テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト
              .more
                a(href="blog_detail.html") もっと見る

  .back__button(ontouchstart="")
    a(href="/") back
  footer
    p hi0711.design
