extends ./_layout.pug
block vars
  - var title = 'interaction director | hi0711'
  - var body = 'indexPage'
  - var description = '北海道札幌市で活動中の副業フリーランサー。webマーケティング、プロジェクトマネジメント、デザイン〜コーディング、Wordpressを使ったサイト構築まで。何でもご相談ください。'
  - var ogDescription = '北海道札幌市で活動中の副業フリーランサー。webマーケティング、プロジェクトマネジメント、デザイン〜コーディング、Wordpressを使ったサイト構築まで。何でもご相談ください。'
block content
  section.cover
    .cover__logo
      img(src="/image/logo.svg" alt='')
    .index__buttongroup.js-fadeup__item(style="opacity: 0")
      .cover__ghostbutton
        a(href="/about.html") ABOUT
      .cover__ghostbutton
        a(href="https://docs.google.com/forms/d/e/1FAIpQLSdf1GPIzO6fNUuFk6NM7cUKHmHqpiHV43CQv9VBqsryCkYU-w/viewform?usp=sf_link" target="_blank" rel="noopener") CONTACT
      //- .cover__ghostbutton
        a(href="blog.html") BLOG
