<!DOCTYPE html>
<html class="no-js" lang="ja">
<head>
  <meta charset="utf-8">
  <!-- Google Tag Manager-->
  <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-WJD9Z4F');
  </script>
    <!-- End Google Tag Manager-->
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <%
  var title = page.title;

  if (is_archive()){
    title = __('archive_a');

    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = __('category') + ': ' + page.category;
  } else if (is_tag()){
    title = __('tag') + ': ' + page.tag;
  }
  %>
  <title><% if (title){ %><%= title %> | <% } %><%= config.title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%- open_graph({twitter_id: theme.twitter, google_plus: theme.google_plus, fb_admins: theme.fb_admins, fb_app_id: theme.fb_app_id}) %>
  <link rel="apple-touch-icon" href="/image/apple-touch-icon.png">
  <link rel="icon" href="/image/favicon.png">
  <link rel="icon" href="/image/favicon@2x.png">
  <link rel="icon" href="/image/favicon@3x.png">
  <link rel="icon" href="/image/favicon@4x.png">
  <link rel="icon" href="/image/favicon@5x.png">
</head>
<body id="blog">
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WJD9Z4F"
    height="0" width="0" style="display:none;visibility:hidden"></iframe>
  </noscript>
